.hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: white;
  }
  
  .location-img {
    margin-top: 20px;
  }
  
  #team .card-img-top {
    filter: grayscale(100%) brightness(80%);
    transition: filter 0.3s ease-in-out;
  }
  
  #team .card-img-top:hover {
    filter: grayscale(0%) brightness(100%);
  }
  